# Include base requirements
-r requirements-base.txt

# Production Server
gunicorn==22.0.0

# Additional Production Dependencies
click==8.1.7
packaging==25.0
platformdirs==4.3.6
pathspec==0.12.1
lxml==6.0.0
xmljson==0.2.1

# JSON & Validation
email_validator==2.2.0
jsonschema-specifications==2023.7.1
referencing==0.30.2
rpds-py==0.18.1

# Logging & Monitoring
Markdown==3.7
MarkupSafe==2.1.5
blinker==1.8.2

# Type Checking
typing_extensions==4.12.2
mypy_extensions==1.1.1
isort==5.13.2
tomli==2.2.1

# JWT & Security
PyJWT==2.9.0

# Plotting
matplotlib==3.7.2
cycler==0.12.1
fonttools==4.53.1
kiwisolver==1.4.5
pyparsing==3.0.9

# Hugging Face
huggingface-hub==0.24.7

# Task Queue
rq==1.15.1

# Protocol Buffers
protobuf==3.20.3

# Metadata
importlib_metadata==8.2.0
importlib_resources==6.4.0
zipp==3.19.2
tzdata==2024.1
python-dateutil==2.9.0.post0
pytz==2024.2
h11==0.14.0
colorama==0.4.6
